@model Post

<div class="row">
    <div class="col-lg-8">
        <div class="bg-white p-4">
            <div class="tags">
                @foreach (var tag in Model.Tags)
                {
                    <a href="/post/tag/@tag.Url"
                        class="badge bg-@tag.Color bg-opacity-10 text-@tag.Color mb-2 fw-bold">@tag.Text</a>
                }
            </div>
            <img src="~/img/@Model.Image" class="img-fluid rounded" alt="" />
            <div>@Html.Raw(@Model.Content)</div>
            <hr />
            <ul class="list-inline my-0">
                <li class="list-inline-item d-flex justify-content-end">
                    <i class="bi bi-calendar"></i>@Model.PublishedOn.ToString("d")
                </li>
                <li class="list-inline-item d-flex justify-content-end">
                    <i class="bi bi-person-circle"></i><a href="/profile/@Model.User.UserName"
                        style="color: purple; font-weight: bold;">@Model.User.Name</a>
                </li>
            </ul>
        </div>
        <div class="gb-white mt-3">
            <div class="card border-0">
                <div class="card-header pb-0">
                    <h4><span id="commentCount">@Model.Comments.Count()</span> adet yorum</h4>
                </div>
                <div class="card-body">
                    <div id="comments">
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="my-4 d-flex">
                                <img src="~/img/@comment.User.Image" alt="" class="avatar rounded-circle float-start me-3">
                                <div>
                                    <div class="mb-2 d-flex">
                                        <h6 class="me-2">
                                            <a href="/profile/@comment.User.UserName"
                                                style="color: rgb(236, 175, 6);">@comment.User.Name</a>
                                        </h6>
                                        <small>@comment.PublishedOn.ToString("G")</small>
                                    </div>
                                    <p>@comment.Text</p>
                                </div>
                            </div>
                        }
                    </div>
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <hr class="my-4">
                        <div>
                            <h4 class="mb-3">Yorum Yap</h4>
                            <form action="/post/AddComment" method="post">
                                <input type="hidden" id="PostId" name="PostId" value="@Model.PostId" />

                                <div class="mb-3">
                                    <label for="Text" class="form-label">Yorum</label>
                                    <textarea type="text" class="form-control" id="Text" rows="3" name="Text"></textarea>
                                </div>
                                <div class="mb-3">
                                    <button id="btnYorumKayit" type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            Yorum yapabilmek için <a href="/users/login">giriş yapın</a> veya <a href="#">kayıt olun.</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <vc:tags-menu></vc:tags-menu>
        <vc:new-posts></vc:new-posts>
    </div>
</div>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () { //Burada yapılan işlem sayfayı önce yükle daha sonra bu kodu çalıştır anlamına gelir
            $("#btnYorumKayit").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddComment")', //Url.Action kullanmak yerine /Post/AddComment de yazılabilirdi
                    dataType: 'json',
                    data: {
                        PostId: $("#PostId").val(),
                        UserName: $("#UserName").val(),
                        Text: $("#Text").val()
                    },
                    success: function (data) {
                        console.log(data);
                        var date = new Date(data.publishedOn);
                        $("#comments").append(`
                                                                                                                                                        <div class="my-4 d-flex">
                                                                                                                                                            <img src="/img/${data.avatar}" alt="" class="avatar rounded-circle float-start me-3">
                                                                                                                                                            <div>
                                                                                                                                                                <div class="mb-2 d-flex">
                                                                                                                                                                    <h6 class="me-2">${data.userName}</h6>
                                                                                                                                                                    <small>${date.toLocaleDateString()}</small>
                                                                                                                                                                </div>
                                                                                                                                                                <p>${data.text}</p>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    `);
                        $("#UserName").val('');
                        $("#Text").val('');

                        var commentCount = parseInt($("#commentCount").text());
                        $("#commentCount").text(commentCount + 1);
                    }
                });
                return false;
            });
        });
    </script>
}
